
<div class="row mx-5 bg-white align-items-center">
	<div class="col px-5 m-5">
		<h2>Gambar Ringkasan Pengunjung</h2>
	</div>
	<div class="col px-5 m-5 text-end">
		<img alt="Logo" src="assets/media/logos/logotki.png" class="h-45px" />
	</div>
</div>
<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
	<!--begin::Post-->
	
	<div class="content flex-row-fluid" id="kt_content">
		<!--begin::Row-->
		<div class="row g-5 g-xxl-8">
			<div class="col-sm-5 card card-body align-items-center mx-1">
				<!-- <canvas id="myChart" style="width:100%;max-width:600px"></canvas> -->
				<div id="chartContainer" style="height: 370px; width: 100%;"></div>  

				<canvas id="piechart"  width="400" height="400"></canvas>
			</div>
		</div>
		<!--end::Row-->
	</div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	// Load google charts
	google.charts.load('current', {'packages':['corechart']});
	google.charts.setOnLoadCallback(drawChart);
	
	// Draw the chart and set the chart values
	function drawChart() {
	  var data = google.visualization.arrayToDataTable([
	  ['Task', 'Hours per Day'],
	  ['Kurang Puas', 0.1],
	  ['Puas dengan Web admin', 8]
	]);
	
	  // Optional; add a title and set the width and height of the chart
	  var options = {'title':'Rata rata', 'width':550, 'height':400};
	
	  // Display the chart inside the <div> element with id="piechart"
	  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
	  chart.draw(data, options);
	}
	</script>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>  
	<script>
		window.onload = function() {
		
		var chart = new CanvasJS.Chart("chartContainer", {       
			animationEnabled: true,
			title: {
				text: "Try Dragging Any Column to Resize"
			},
			axisX:{
				minimum: 5,
				maximum: 95
			},
			data: [{
				type: "column",
				dataPoints: [
					{ x: 10, y: 71 },
					{ x: 20, y: 55 },
					{ x: 30, y: 50 },
					{ x: 40, y: 65 },
					{ x: 50, y: 95 },
					{ x: 60, y: 68 },
					{ x: 70, y: 28 },
					{ x: 80, y: 34 },
					{ x: 90, y: 14 }
				]
			}]
		});
		chart.render();
		
		var xSnapDistance = chart.axisX[0].convertPixelToValue(chart.get("dataPointWidth")) / 2;
		var ySnapDistance = 3;
		
		var xValue, yValue;
		
		var mouseDown = false;
		var selected = null;
		var changeCursor = false;
		
		var timerId = null;
		
		function getPosition(e) {
			var parentOffset = $("#chartContainer > .canvasjs-chart-container").offset();          	
			var relX = e.pageX - parentOffset.left;
			var relY = e.pageY - parentOffset.top;
			xValue = Math.round(chart.axisX[0].convertPixelToValue(relX));
			yValue = Math.round(chart.axisY[0].convertPixelToValue(relY));
		}
		
		function searchDataPoint() {
			var dps = chart.data[0].dataPoints;
			for(var i = 0; i < dps.length; i++ ) {
				if( (xValue >= dps[i].x - xSnapDistance && xValue <= dps[i].x + xSnapDistance) && (yValue >= dps[i].y - ySnapDistance && yValue <= dps[i].y + ySnapDistance) ) 
				{
					if(mouseDown) {
						selected = i;
						break;
					} else {
						changeCursor = true;
						break; 
					}
				} else {
					selected = null;
					changeCursor = false;
				}
			}
		}
		
		jQuery("#chartContainer > .canvasjs-chart-container").on({
			mousedown: function(e) {
				mouseDown = true;
				getPosition(e);  
				searchDataPoint();
			},
			mousemove: function(e) {
				getPosition(e);
				if(mouseDown) {
					clearTimeout(timerId);
					timerId = setTimeout(function(){
						if(selected != null) {
							chart.data[0].dataPoints[selected].y = yValue;
							chart.render();
						}   
					}, 0);
				}
				else {
					searchDataPoint();
					if(changeCursor) {
						chart.data[0].set("cursor", "n-resize");
					} else {
						chart.data[0].set("cursor", "default");
					}
				}
			},
			mouseup: function(e) {
				if(selected != null) {
					chart.data[0].dataPoints[selected].y = yValue;
					chart.render();
					mouseDown = false;
				}
			}
		});
		
		}
		</script>