<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->

<head>
	<base href="https://teknologikartu.com/web_admin/">
	<base href="../../../">
	<!-- <base href="http://127.0.0.1:8002/web_admin/">
	<base href="../../../"> -->
	<title>Teknologi Kartu Indonesia</title>
	<meta name="description"
		content="Teknologi Kartu Indonesia &amp; Kartu Digital Multifungsi, Tagihan Digital, Sistem Absensi, EdMedia LMS" />
	<meta name="keywords" content="Teknologi Kartu, Kartu Digital, Tagihan Digital, Pesantren, Absensi" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta charset="utf-8" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="article" />
	<meta property="og:title"
		content="PT. TEKNOLOGI KARTU INDONESIA&amp; " />
	<!-- <meta property="og:url" content="https://keenthemes.com/metronic" /> -->
	<meta property="og:site_name" content="Web Admin | Teknologi Kartu Indonesia" />
	<!-- <link rel="canonical" href="https://preview.keenthemes.com/metronic8" /> -->
	<link rel="shortcut icon" href="assets/media/logos/tki.png" />
	<!--begin::Fonts-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
	<!--end::Fonts-->
	<!--begin::Global Stylesheets Bundle(used by all pages)-->
	<link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
	<!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->

<body class="bg-body">
	<!--begin::Main-->
	<div class="d-flex flex-column flex-root">
		<!--begin::Authentication - Sign-in -->
		<div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed"
			style="background-image: url(assets/media/illustrations/sigma-1/14.png)">
			<!--begin::Content-->
			<div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
				<!--begin::Logo-->
				<a href="web_aset/login" class="mb-12">
					<img alt="Logo" src="assets/media/logos/logotki.png" class="h-80px" />
				</a>
				<!--end::Logo-->
				<!--begin::Wrapper-->
				<div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
					<!--begin::Form-->
					<form class="form w-100" novalidate="novalidate">
						<!--begin::Heading-->
						<div class="text-center mb-10">
							<!--begin::Title-->
							<svg xmlns="http://www.w3.org/2000/svg" width="35" height="40" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
								<path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
							</svg>
							<label class="text-dark mb-3 p-3"><h1 class="text-dark mb-3">Login </h1></label>
							<!--end::Title-->
							<!--begin::Link-->
							<!-- {% if tp != "validator" %}
							<div class="text-gray-400 fw-bold fs-4">New Here?
								<a href="../../web_admin/signup" class="link-primary fw-bolder">Create an
									Account</a>
							</div>
							{% endif %} -->
							<!--end::Link-->
						</div>
						<!--begin::Heading-->
						<!--begin::Input group-->
						<div class="fv-row mb-10">
							<!--begin::Label-->
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
								<path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
							</svg>
							<label class="form-label fs-6 fw-bolder text-dark">Username</label>
							<!--end::Label-->
							<!--begin::Input-->
							<input class="form-control form-control-lg form-control-solid" id="lg_username" type="text" autocomplete="off"/>
								 <!-- value="user_admin*admin" -->
							<!--end::Input-->
						</div>
						<!--end::Input group-->
						<!--begin::Input group-->
						<div class="fv-row mb-10">
							<!--begin::Wrapper-->
							<!-- <div class="d-flex flex-stack mb-2"> -->
								<!--begin::Label-->
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
									<path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
								</svg>
								<label class="form-label fw-bolder text-dark fs-6 mb-0">Password</label>
								<!--end::Label-->
								<!--begin::Link-->
								<!-- <a href="../../web_admin/partner/reset" class="link-primary fs-6 fw-bolder">Forgot
									Password
									?</a> -->
								<!--end::Link-->
							<!-- </div> -->
							<!--end::Wrapper-->
							<!--begin::Input-->
							<input class="form-control form-control-lg form-control-solid" id="lg_password" 
								type="password" name="password" autocomplete="off" />
								<!-- value="pass" -->
							<!--end::Input-->
						</div>
						<!--end::Input group-->
						<!--begin::Actions-->
						<div class="text-center">
							<!--begin::Submit button-->
							<button type="button" id="bt_login" class="btn btn-lg btn-primary w-100 mb-5">
								Login
							</button>

						</div>
						<!--end::Actions-->
					</form>
					<!--end::Form-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Content-->
			<!--begin::Footer-->
			<div class="d-flex flex-center flex-column-auto p-10">
				<!--begin::Links-->
				<!-- <div class="d-flex align-items-center fw-bold fs-6">
					<a href="https://keenthemes.com" class="text-muted text-hover-primary px-2">About</a>
					<a href="mailto:support@keenthemes.com" class="text-muted text-hover-primary px-2">Contact</a>
					<a href="https://1.envato.market/EA4JP" class="text-muted text-hover-primary px-2">Contact Us</a>
				</div> -->
				<!--end::Links-->
			</div>
			<!--end::Footer-->
		</div>
		<!--end::Authentication - Sign-in-->
	</div>
	<!--end::Main-->
	<script>
		var hostUrl = "web/aset/";
	</script>
	<!--begin::Javascript-->
	<!--begin::Global Javascript Bundle(used by all pages)-->
	<script src="assets/plugins/global/plugins.bundle.js"></script>
	<script src="assets/js/scripts.bundle.js"></script>
	<!--end::Global Javascript Bundle-->
	<!--begin::Page Custom Javascript(used by this page)-->
	<!--<script src="assets/js/custom/authentication/sign-in/general.js"></script>-->
	<!--end::Page Custom Javascript-->
	
	<!--end::Javascript-->
	<script>
		$(document).ready(function () {
			$("#bt_login").click(function () {
				var username = $("#lg_username").val().trim();
				var password = $("#lg_password").val().trim();

				if (username != "" && password != "") {
					username = "user_admin*"+username
					$.ajax({
						url: 'login',
						type: 'post',
						data: {
							username: username,
							password: password
						},
						success: function (response, textStatus, jqXHR) {
							console.log(jqXHR.status)
							var msg = "";
							if (jqXHR.status == 200) {
								window.location = "home";
							} else {
								msg = "Invalid username and password!";
							}
							$("#message").html(msg);
						}
					});
				
				}
			});
		});
	</script>
</body>
<!--end::Body-->

</html>