<!--begin::Container-->
<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
	<!--begin::Post-->
	<div class="content flex-row-fluid" id="kt_content">
		<!--begin::Card-->
		<div class="card">
			<!--begin::Card header-->
			<div class="card-header border-0 pt-6">
				<!--begin::Card title-->
				<div class="card-title">
					<div><h2>Data Pelamar</h2></div>&nbsp;&nbsp;
					<!--begin::Search-->
					<div class="d-flex align-items-center position-relative my-1">
						<!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
						<span class="svg-icon svg-icon-1 position-absolute ms-6">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
								fill="none">
								<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
									transform="rotate(45 17.0365 15.1223)" fill="black" />
								<path
									d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
									fill="black" />
							</svg>
						</span>
						<!--end::Svg Icon-->
						<input type="text" data-kt-user-table-filter="search" id='input'
							class="form-control form-control-solid w-250px ps-14" placeholder="Search user" onkeyup='searchTable()'/>
					</div>
					<!--end::Search-->
					<div class="form-group"> 	<!--		Show Numbers Of Rows 		-->
						<select class  ="form-control" name="state" id="maxRows">
							<option value="5000">Show ALL Rows</option>
							<option value="5">5</option>
							<option value="10">10</option>
							<option value="15">15</option>
							<option value="20">20</option>
							<option value="50">50</option>
							<option value="70">70</option>
							<option value="100">100</option>
						   </select>
					 </div>
				</div>
				<!--begin::Card title-->
				<!--begin::Card toolbar-->
				<div class="card-toolbar">
					<!--begin::Toolbar-->
					<div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
						<!--begin::Filter-->
						<!-- <button type="button" class="btn btn-light-primary me-3" data-kt-menu-trigger="click"
							data-kt-menu-placement="bottom-end"> -->
							<!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
							<!-- <span class="svg-icon svg-icon-2">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									fill="none">
									<path
										d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z"
										fill="black" />
								</svg> -->
							<!-- </span> -->
							<!--end::Svg Icon-->
							<!-- Filter</button> -->
						<!--begin::Menu 1-->
						<div class="menu menu-sub menu-sub-dropdown w-300px w-md-325px" data-kt-menu="true">
							<!--begin::Header-->
							<div class="px-7 py-5">
								<div class="fs-5 text-dark fw-bolder">Filter Options</div>
							</div>
							<!--end::Header-->
							<!--begin::Separator-->
							<div class="separator border-gray-200"></div>
							<!--end::Separator-->
							<!--begin::Content-->
							<div class="px-7 py-5" data-kt-user-table-filter="form">
								<!--begin::Input group-->
								<div class="mb-10">
									<label class="form-label fs-6 fw-bold">Role:</label>
									<select class="form-select form-select-solid fw-bolder" data-kt-select2="true"
										data-placeholder="Select option" data-allow-clear="true"
										data-kt-user-table-filter="role" data-hide-search="true">
										<option></option>
										<option value="Administrator">Yolanda</option>
										<option value="Analyst">Analyst</option>
										<option value="Developer">Developer</option>
										<option value="Support">Support</option>
										<option value="Trial">Trial</option>
									</select>
								</div>
								<!--end::Input group-->
								<!--begin::Input group-->
								<div class="mb-10">
									<label class="form-label fs-6 fw-bold">Two Step Verification:</label>
									<select class="form-select form-select-solid fw-bolder" data-kt-select2="true"
										data-placeholder="Select option" data-allow-clear="true"
										data-kt-user-table-filter="two-step" data-hide-search="true">
										<option></option>
										<option value="Enabled">Enabled</option>
									</select>
								</div>
								<!--end::Input group-->
								<!--begin::Actions-->
								<div class="d-flex justify-content-end">
									<button type="reset"
										class="btn btn-light btn-active-light-primary fw-bold me-2 px-6"
										data-kt-menu-dismiss="true" data-kt-user-table-filter="reset">Reset</button>
									<button type="submit" class="btn btn-primary fw-bold px-6"
										data-kt-menu-dismiss="true" data-kt-user-table-filter="filter">Apply</button>
								</div>
								<!--end::Actions-->
							</div>
							<!--end::Content-->
						</div>
						<!--end::Menu 1-->
						<!--end::Filter-->
						<!--begin::Export-->
						<!-- <button type="button" class="btn btn-light-primary me-3" data-bs-toggle="modal"
							data-bs-target="#kt_modal_export_users"> -->
							<!--begin::Svg Icon | path: icons/duotune/arrows/arr078.svg-->
							<!-- <span class="svg-icon svg-icon-2">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									fill="none">
									<rect opacity="0.3" x="12.75" y="4.25" width="12" height="2" rx="1"
										transform="rotate(90 12.75 4.25)" fill="black" />
									<path
										d="M12.0573 6.11875L13.5203 7.87435C13.9121 8.34457 14.6232 8.37683 15.056 7.94401C15.4457 7.5543 15.4641 6.92836 15.0979 6.51643L12.4974 3.59084C12.0996 3.14332 11.4004 3.14332 11.0026 3.59084L8.40206 6.51643C8.0359 6.92836 8.0543 7.5543 8.44401 7.94401C8.87683 8.37683 9.58785 8.34458 9.9797 7.87435L11.4427 6.11875C11.6026 5.92684 11.8974 5.92684 12.0573 6.11875Z"
										fill="black" />
									<path
										d="M18.75 8.25H17.75C17.1977 8.25 16.75 8.69772 16.75 9.25C16.75 9.80228 17.1977 10.25 17.75 10.25C18.3023 10.25 18.75 10.6977 18.75 11.25V18.25C18.75 18.8023 18.3023 19.25 17.75 19.25H5.75C5.19772 19.25 4.75 18.8023 4.75 18.25V11.25C4.75 10.6977 5.19771 10.25 5.75 10.25C6.30229 10.25 6.75 9.80228 6.75 9.25C6.75 8.69772 6.30229 8.25 5.75 8.25H4.75C3.64543 8.25 2.75 9.14543 2.75 10.25V19.25C2.75 20.3546 3.64543 21.25 4.75 21.25H18.75C19.8546 21.25 20.75 20.3546 20.75 19.25V10.25C20.75 9.14543 19.8546 8.25 18.75 8.25Z"
										fill="#C4C4C4" />
								</svg>
							</span> -->
							<!--end::Svg Icon-->
							<!-- Export</button> -->
						<!--end::Export-->
						<!--begin::Add user-->
						
<!-- ##################add pelamar ######################### -->

						<!-- <button type="button" class="btn btn-dark" data-bs-toggle="modal"
							data-bs-target="#kt_modal_add_user" data-backdrop="false">
							Add Pelamar</button> -->
						<!--end::Add user-->
					</div>
					<!--end::Toolbar-->
					<!--begin::Group actions-->
					<div class="d-flex justify-content-end align-items-center d-none"
						data-kt-user-table-toolbar="selected">
						<div class="fw-bolder me-5">
							<span class="me-2" data-kt-user-table-select="selected_count"></span>Selected</div>
						<button type="button" class="btn btn-danger" data-kt-user-table-select="delete_selected">Delete
							Selected</button>
					</div>
					<!--end::Group actions-->

					<!--begin::Modal - Adjust Balance-->
					<div class="modal fade" id="kt_modal_export_users" tabindex="-1" aria-hidden="true">
						<!--begin::Modal dialog-->
						<div class="modal-dialog modal-dialog-centered mw-650px">
							<!--begin::Modal content-->
							<div class="modal-content">
								<!--begin::Modal header-->
								<div class="modal-header">
									<!--begin::Modal title-->
									<h2 class="fw-bolder">Export Users</h2>
									<!--end::Modal title-->
									<!--begin::Close-->
									<div class="btn btn-icon btn-sm btn-active-icon-primary"
										data-kt-users-modal-action="close">
										<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
										<span class="svg-icon svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
													transform="rotate(-45 6 17.3137)" fill="black" />
												<rect x="7.41422" y="6" width="16" height="2" rx="1"
													transform="rotate(45 7.41422 6)" fill="black" />
											</svg>
										</span>
										<!--end::Svg Icon-->
									</div>
									<!--end::Close-->
								</div>
								<!--end::Modal header-->
								<!--begin::Modal body-->
								<div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
									<!--begin::Form-->
									<form id="kt_modal_export_users_form" class="form" action="#">
										<!--begin::Input group-->
										<div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="fs-6 fw-bold form-label mb-2">Select Roles:</label>
											<!--end::Label-->
											<!--begin::Input-->
											<select name="role" data-control="select2" data-placeholder="Select a role"
												data-hide-search="true" class="form-select form-select-solid fw-bolder">
												<option></option>
												<option value="Administrator">Administrator</option>
												<option value="Analyst">Analyst</option>
												<option value="Developer">Developer</option>
												<option value="Support">Support</option>
												<option value="Trial">Trial</option>
											</select>
											<!--end::Input-->
										</div>
										<!--end::Input group-->
										<!--begin::Input group-->
										<div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="required fs-6 fw-bold form-label mb-2">Select Export
												Format:</label>
											<!--end::Label-->
											<!--begin::Input-->
											<select name="format" data-control="select2"
												data-placeholder="Select a format" data-hide-search="true"
												class="form-select form-select-solid fw-bolder">
												<option></option>
												<option value="excel">Excel</option>
												<option value="pdf">PDF</option>
												<option value="cvs">CVS</option>
												<option value="zip">ZIP</option>
											</select>
											<!--end::Input-->
										</div>
										<!--end::Input group-->
										<!--begin::Actions-->
										<div class="text-center">
											<button type="reset" class="btn btn-light me-3"
												data-kt-users-modal-action="cancel">Discard</button>
											<button type="submit" class="btn btn-primary"
												data-kt-users-modal-action="submit">
												<span class="indicator-label">Submit</span>
												<!-- <span class="indicator-progress">Please wait...
													<span
														class="spinner-border spinner-border-sm align-middle ms-2"></span></span> -->
											</button>
										</div>
										<!--end::Actions-->
									</form>
									<!--end::Form-->
								</div>
								<!--end::Modal body-->
							</div>
							<!--end::Modal content-->
						</div>
						<!--end::Modal dialog-->
					</div>
					<!--end::Modal - New Card-->
					<!--begin::Modal - Add PENGURUSDAOSJDNBOAINSDOINAOSINDO-->
					<div class="modal fade" id="kt_modal_add_user" tabindex="-1" aria-hidden="true">
						<!--begin::Modal dialog-->
						<div class="modal-dialog modal-dialog-centered mw-650px">
							<!--begin::Modal content-->
							<div class="modal-content">
								<!--begin::Modal header-->
								<div class="modal-header" id="kt_modal_add_user_header">
									<!--begin::Modal title-->
									<h2 class="fw-bolder">Add Pelamar</h2>
									<!--end::Modal title-->
									<!--begin::Close-->
									<div class="btn btn-icon btn-sm btn-active-icon-primary"
										data-kt-users-modal-action="close" data-bs-dismiss="modal">
										<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
										<span class="svg-icon svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
													transform="rotate(-45 6 17.3137)" fill="black" />
												<rect x="7.41422" y="6" width="16" height="2" rx="1"
													transform="rotate(45 7.41422 6)" fill="black" />
											</svg>
										</span>
										<!--end::Svg Icon-->
									</div>
									<!--end::Close-->
								</div>
								<!--end::Modal header-->
								<!--begin::Modal body-->
								<div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
									<!--begin::Form-->
									<form id="kt_modal_add_user_form" class="form" method="post" action="pelamar">
										<!--begin::Scroll-->
										<div >
											
											<!--begin::Input group-->
											<div class="fv-row mb-7">
												<!--begin::Label-->
												<label class="required fw-bold fs-6 mb-2">NAMA DEPAN</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" name="firstName"
													class="form-control form-control-solid mb-3 mb-lg-0" required id="firstName"/>
												<!--end::Input-->
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
											<div class="fv-row mb-7">
												<!--begin::Label-->
												<label class="required fw-bold fs-6 mb-2">NAMA BELAKANG</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" name="lastName"
													class="form-control form-control-solid mb-3 mb-lg-0" required id="lastName"/>
												<!--end::Input-->
											</div>
                                            <div class="fv-row mb-7">
												<!--begin::Label-->
												<label class="required fw-bold fs-6 mb-2">EMAIL</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="email" name="email"
													class="form-control form-control-solid mb-3 mb-lg-0" required id="email"/>
												<!--end::Input-->
											</div>
                                            
                                            
                                            <div class="fv-row mb-7">
												<!--begin::Label-->
												<label class="required fw-bold fs-6 mb-2">JENIS KELAMIN</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" name="gender"
													class="form-control form-control-solid mb-3 mb-lg-0" required id="gender"/>
												<!--end::Input-->
											</div>
                                            <div class="fv-row mb-7">
												<!--begin::Label-->
												<label class="required fw-bold fs-6 mb-2">PENDIDIKAN TERAKHIR</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" name="lastEducation"
													class="form-control form-control-solid mb-3 mb-lg-0" required id="lastEducation"/>
												<!--end::Input-->
											</div>
                                            
											<!--end::Input group-->
											<!--begin::Input group-->
											<!-- <div class="fv-row mb-7"> -->
												<!--begin::Label-->
												<!-- <label class="required fw-bold fs-6 mb-2">Judul</label> -->
												<!--end::Label-->
												<!--begin::Input-->
												<!-- <input type="text" name="title"
													class="form-control form-control-solid mb-3 mb-lg-0" required id="title"/> -->
												<!--end::Input-->
											<!-- </div> -->
											<!--end::Input group-->
											<!--begin::Input group-->
											<!-- <div class="fv-row mb-7"> -->
												<!--begin::Label-->
												<!-- <label class="required fw-bold fs-6 mb-2">Deskripsi</label> -->
												<!--end::Label-->
												<!--begin::Input-->
												<!-- <input type="text" name="description"
													class="form-control form-control-solid mb-3 mb-lg-0" required id="description"/> -->
												<!--end::Input-->
											<!-- </div> -->
											<!--end::Input group-->
											
										</div>
										<!--end::Scroll-->
										<!--begin::Actions-->
										<div class="text-center pt-15">
											<button type="button" class="btn btn-light me-3" data-bs-dismiss="modal">Discard</button>
											<button type="submit" class="btn btn-primary" id="p_bt_submit" value="submit">
												<span class="indicator-label">Submit</span>
											</button>
										</div>
										<!--end::Actions-->
									</form>
									<!--end::Form-->
								</div>
								<!--end::Modal body-->
							</div>
							<!--end::Modal content-->
						</div>
						<!--end::Modal dialog-->
					</div>
					<!--end::Modal - Add task-->

					<!-- #Modal - edit task -->
					
					<!-- ////////////////////////// -->
				</div>
				<!--end::Card toolbar-->
			</div>
			<!--end::Card header-->



			<!--begin::Card body SHOW ISI TABLE NYA-->
			<div class="card-body pt-0">
				<!--begin::Table-->
				<!-- <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_users"> -->
					<table class="table table-striped table-class" id= "table-id">
					<!--begin::Table head-->
					<thead>
						<!--begin::Table row-->
						<tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
							<th class="w-10px pe-2">
								<!-- <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
									<input class="form-check-input" type="checkbox" data-kt-check="true"
										data-kt-check-target="#kt_table_users .form-check-input" value="1" />
								</div> -->
							</th>
							<th class="min-w-125px">NAMA DEPAN</th>
							<th class="min-w-125px">NAMA BELAKANG</th>
                            <th class="min-w-125px">EMAIL</th>
                            <!-- <th class="min-w-125px">NO HP</th> -->
                            <!-- <th class="min-w-125px">TANGGAL LAHIR</th> -->
                            <th class="min-w-125px">JENIS KELAMIN</th>
                            <th class="min-w-125px">PENDIDIKAN TERAKHIR</th>
							<th class="text-end min-w-100px">AKSI</th>
							<!-- <th class="min-w-125px">Gambar</th>
							<th class="min-w-125px">Aksi</th> -->
							<!-- <th class="min-w-125px">Judul</th> -->
							<!-- <th class="min-w-125px">Two-step</th> -->
							<!-- <th class="min-w-125px">Deskripsi</th>
							<th class="text-end min-w-100px">Actions</th> -->
						</tr>
						<!--end::Table row-->
					</thead>
					<!--end::Table head-->
					<!--begin::Table body-->
					<tbody class="text-gray-600 fw-bold" id="kt_table_users_body">
						<!--begin::Table row-->
						{% for dataa in data %}
						<tr >
							<div class="modal fade" id="kt_modal_edit_user{{dataa._id}}" tabindex="-1" aria-hidden="true">
								<!--begin::Modal dialog-->
								<div class="modal-dialog modal-dialog-centered mw-650px">
									<!--begin::Modal content-->
									<div class="modal-content">
										<!--begin::Modal header-->
										<div class="modal-header" id="kt_modal_edit_user_header">
											<!--begin::Modal title-->
											<h2 class="fw-bolder">Edit Data Pelamar</h2>
											<!--end::Modal title-->
											<!--begin::Close-->
											<div class="btn btn-icon btn-sm btn-active-icon-primary"
												data-kt-users-modal-action="close" data-bs-dismiss="modal">
												<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
												<span class="svg-icon svg-icon-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
														viewBox="0 0 24 24" fill="none">
														<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
															transform="rotate(-45 6 17.3137)" fill="black" />
														<rect x="7.41422" y="6" width="16" height="2" rx="1"
															transform="rotate(45 7.41422 6)" fill="black" />
													</svg>
												</span>
												<!--end::Svg Icon-->
											</div>
											<!--end::Close-->
										</div>
										<!--end::Modal header-->
										<!--begin::Modal body-->
										<div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
											<!--begin::Form-->
											<form id="kt_modal_edit_user_form" class="form" method="post" action="pelamarr">
												<!--begin::Scroll-->
												<div >
													<div class="fv-row mb-7">
                                                        <!--begin::Label-->
                                                        <label class="required fw-bold fs-6 mb-2">NAMA DEPAN</label>
                                                        <!--end::Label-->
                                                        <!--begin::Input-->
                                                        <input type="text" name="firstName"
                                                            class="form-control form-control-solid mb-3 mb-lg-0" required id="firstName"/>
                                                       
                                                    </div>
                                                     <!--end::Input-->
													<!--begin::Input group-->
													<div class="fv-row mb-7">
                                                        <!--begin::Label-->
                                                        <label class="required fw-bold fs-6 mb-2">NAMA BELAKANG</label>
                                                        <!--end::Label-->
                                                        <!--begin::Input-->
                                                        <input type="text" name="lastName"
                                                            class="form-control form-control-solid mb-3 mb-lg-0" required id="lastName"/>
                                                        <!--end::Input-->
                                                    </div>
                                                    <div class="fv-row mb-7">
                                                        <!--begin::Label-->
                                                        <label class="required fw-bold fs-6 mb-2">EMAIL</label>
                                                        <!--end::Label-->
                                                        <!--begin::Input-->
                                                        <input type="email" name="email"
                                                            class="form-control form-control-solid mb-3 mb-lg-0" required id="email"/>
                                                        <!--end::Input-->
                                                    </div>
                                                   
                                                   
                                                    <div class="fv-row mb-7">
                                                        <!--begin::Label-->
                                                        <label class="required fw-bold fs-6 mb-2">JENIS KELAMIN</label>
                                                        <!--end::Label-->
                                                        <!--begin::Input-->
                                                        <input type="text" name="gender"
                                                            class="form-control form-control-solid mb-3 mb-lg-0" required id="gender"/>
                                                        <!--end::Input-->
                                                    </div>
                                                    <div class="fv-row mb-7">
                                                        <!--begin::Label-->
                                                        <label class="required fw-bold fs-6 mb-2">PENDIDIKAN TERAKHIR</label>
                                                        <!--end::Label-->
                                                        <!--begin::Input-->
                                                        <input type="text" name="lastEducation"
                                                            class="form-control form-control-solid mb-3 mb-lg-0" required id="lastEducation"/>
                                                        <!--end::Input-->
                                                    </div>
                                                    
													<!--end::Input group-->
													<!--begin::Input group-->
													<!-- <div class="fv-row mb-7"> -->
														<!--begin::Label-->
														<!-- <label class="required fw-bold fs-6 mb-2">Judul</label> -->
														<!--end::Label-->
														<!--begin::Input-->
														<!-- <input type="text" value="{{dataa.title}}"
															class="form-control form-control-solid mb-3 mb-lg-0" required name="title"/> -->
														<!--end::Input-->
													<!-- </div> -->
													<!--end::Input group-->
													<!--begin::Input group-->
													<!-- <div class="fv-row mb-7"> -->
														<!--begin::Label-->
														<!-- <label class="required fw-bold fs-6 mb-2">Deskripsi</label> -->
														<!--end::Label-->
														<!--begin::Input-->
														<!-- <input type="text" value="{{dataa.description}}"
															class="form-control form-control-solid mb-3 mb-lg-0" required name="description"/> -->
														<!--end::Input-->
													<!-- </div> -->
													<!--end::Input group-->
													
													<!-- <div class="fv-row mb-7">
														<label class=" fw-bold fs-6 mb-2">Upload Gambar</label>
														<div class="image-input image-input-outline" data-kt-image-input="true"
													style="background-image: url(assets/media/avatars/blank.png)">
													</div>
													<div class="image-input-wrapper w-125px h-125px"
													style="background-image: url(assets/media/avatars/150-26.jpg)"></div>
													</div> -->
													<input type="hidden" name="_id" value="{{dataa._id}}">
												</div>
												<!--end::Scroll-->
												<!--begin::Actions-->
												<div class="text-center pt-15">
													<button type="button" class="btn btn-light me-3" data-bs-dismiss="modal">Discard</button>
													<button type="submit" class="btn btn-primary" id="p_bt_submit" value="submit">
														<span class="indicator-label">Submit</span>
													</button>
												</div>
												<!--end::Actions-->
											</form>
											<!--end::Form-->
										</div>
										<!--end::Modal body-->
									</div>
									<!--end::Modal content-->
								</div>
								<!--end::Modal dialog-->
							</div>	
<!-- 
							//////////// -->
							<!--begin::Checkbox-->
							<td>
								<div class="form-check form-check-sm form-check-custom form-check-solid">
									<input class="form-check-input" type="checkbox" value="1" />
								</div>
							</td>
							<!--end::Checkbox-->
							<!--begin::User=-->
							<!-- <td class="d-flex align-items-center"> -->
								<!--begin:: Avatar -->
								<!-- <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
									<a href="../../web_admin/admin/pengurus-detail">
										<div class="symbol-label">
											<img src="assets/media/avatars/150-1.jpg" alt="Emma Smith" class="w-100" />
										</div>
									</a>
								</div> -->
								<!--end::Avatar-->
								<!--begin::User details-->
								<!-- <div class="d-flex flex-column"> -->
									<!-- <a href="../../web_crm/partner/testimony-detail"
										class="text-gray-800 text-hover-primary mb-1">
									</a> -->
								
									<!-- <span>e.smith@kpmg.com.au</span> -->
								<!-- </div> -->
								<!--begin::User details-->
							<!-- </td> -->
							<!--end::User=-->
							<!--begin::Role=-->
							<td>{{dataa.firstName}}</td>
                            <td>{{dataa.lastName}}</td>
                            <td>{{dataa.email}}</td>
                            <!-- <td>{{dataa.nohp}}</td>
                            <td>{{dataa.tglLahir}}</td> -->
                            <td>{{dataa.gender}}</td>
                            <td>{{dataa.lastEducation}}</td>
							<!--end::Role=-->
							<!--begin::Last login=-->
							<!-- <td>
								<div class="badge badge-light fw-bolder">{{dataa.profesi}}</div>
							</td> -->
							<!--end::Last login=-->
							<!--begin::Two step=-->
							
							<!--end::Two step=-->
							<!-- <td>
								<div class="badge badge-light fw-bolder">{{dataa.title}}</div>
							</td> -->
							<!-- <td>{{dataa.title}}</td> -->
							<!-- <td>
								<div class="badge badge-light fw-bolder">{{dataa.note}}</div>
							</td> -->
							<!-- <td>{{dataa.description}}</td> -->
							<!--begin::Joined-->
							<!-- <td>22 Sep 2021, 10:10 pm</td> -->
							<!--begin::Joined-->
							<!--begin::Action=-->
							<td class="text-end">
								<!-- <a href="#" class="btn btn-light btn-active-light-primary btn-sm"
									data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Actions -->
									<!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
									<!-- <span class="svg-icon svg-icon-5 m-0">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none">
											<path
												d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z"
												fill="black" />
										</svg>
									</span> -->
									<!--end::Svg Icon--></a>
								<!--begin::Menu-->
								<!-- <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4"
									data-kt-menu="true"> -->
									<!--begin::Menu item-->
									<!-- <div class="menu-item px-3">
										<a data-bs-toggle="modal"
										data-bs-target="#kt_modal_edit_user" >
										Edit</a>
									</div> -->
									<div class="btn btn-warning btn-active-light-primary btn-sm">
										<a data-bs-toggle="modal"
										data-bs-target="#kt_modal_edit_user{{dataa._id}}"
											class="menu-link px-3 text-black">Edit</a>
									</div>
									<div class="btn btn-danger btn-active-light-primary btn-sm">
										<a href="pelamarrr/delete/{{dataa.idPelamar}}"
											class="menu-link px-3 text-black">Delete</a>
									</div>
									<!--end::Menu item-->
									<!--begin::Menu item-->
									<!-- <div class="menu-item px-3">
										<a href="#" class="menu-link px-3"
											data-kt-users-table-filter="delete_row">Delete</a>
											
									</div> -->
<!-- 									
									data-bs-target=
									"#kt_modal_edit_user" -->
									<!-- <br> -->
									<!-- <div class="menu-item px-3">
										<a  data-bs-toggle="modal"
									
										 data-backdrop="false">
										Delete</a>
									</div> -->
									<!--end::Menu item-->
								</div>
								<!--end::Menu-->
							</td>
							<!--end::Action=-->
						</tr>
						{% endfor %}
						<!--end::Table row-->
						
					</tbody>
					<!--end::Table body-->
				</table>
				<!--end::Table-->
			</div>
			<!--end::Card body-->
		</div>
		<!--end::Card-->
	</div>
	<!--end::Post-->
</div>
<!--end::Container-->
<!--begin::Javascript-->
<!--begin::Global Javascript Bundle(used by all pages)-->
<script src="assets/plugins/global/plugins.bundle.js"></script>
<!-- <script src="assets/js/scripts.bundle.js"></script> -->
<!--end::Global Javascript Bundle-->
<!--end::Javascript-->
<script>
    function searchTable() {
        var input;
        var name;
        var status; 
        var tbody; 
        var tr; 
        var td;
        
        input = document.getElementById("input");
        saring = input.value.toUpperCase();
        tbody = document.getElementsByTagName("tbody")[0];;
        tr = tbody.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                if (td[j].innerHTML.toUpperCase().indexOf(saring) > -1) {
                    status = true;
                }
            }
            if (status) {
                tr[i].style.display = "";
                status = false;
            } else {
                tr[i].style.display = "none";
            }
        }
    }
    </script>
	<script>
		getPagination('#table-id');
	
	function getPagination(table) {
	  var lastPage = 1;
	
	  $('#maxRows')
		.on('change', function(evt) {
		  //$('.paginationprev').html('');// reset pagination
	
		 lastPage = 1;
		  $('.pagination')
			.find('li')
			.slice(1, -1)
			.remove();
		  var trnum = 0; // reset tr counter
		  var maxRows = parseInt($(this).val()); // get Max Rows from select option
	
		  if (maxRows == 5000) {
			$('.pagination').hide();
		  } else {
			$('.pagination').show();
		  }
	
		  var totalRows = $(table + ' tbody tr').length; // numbers of rows
		  $(table + ' tr:gt(0)').each(function() {
			// each TR in  table and not the header
			trnum++; // Start Counter
			if (trnum > maxRows) {
			  // if tr number gt maxRows
	
			  $(this).hide(); // fade it out
			}
			if (trnum <= maxRows) {
			  $(this).show();
			} // else fade in Important in case if it ..
		  }); //  was fade out to fade it in
		  if (totalRows > maxRows) {
			// if tr total rows gt max rows option
			var pagenum = Math.ceil(totalRows / maxRows); // ceil total(rows/maxrows) to get ..
			//	numbers of pages
			for (var i = 1; i <= pagenum; ) {
			  // for each page append pagination li
			  $('.pagination #prev')
				.before(
				  '<li data-page="' +
					i +
					'">\
				<span>' + i++ +'<span class="sr-only">(current)</span></span>\
				</li>'
				)
				.show();
			} // end for i
		  } // end if row count > max rows
		  $('.pagination [data-page="1"]').addClass('active'); // add active class to the first li
		  $('.pagination li').on('click', function(evt) {
			// on click each page
			evt.stopImmediatePropagation();
			evt.preventDefault();
			var pageNum = $(this).attr('data-page'); // get it's number
	
			var maxRows = parseInt($('#maxRows').val()); // get Max Rows from select option
	
			if (pageNum == 'prev') {
			  if (lastPage == 1) {
				return;
			  }
			  pageNum = --lastPage;
			}
			if (pageNum == 'next') {
			  if (lastPage == $('.pagination li').length - 2) {
				return;
			  }
			  pageNum = ++lastPage;
			}
	
			lastPage = pageNum;
			var trIndex = 0; // reset tr counter
			$('.pagination li').removeClass('active'); // remove active class from all li
			$('.pagination [data-page="' + lastPage + '"]').addClass('active'); // add active class to the clicked
			// $(this).addClass('active');					// add active class to the clicked
			  limitPagging();
			$(table + ' tr:gt(0)').each(function() {
			  // each tr in table not the header
			  trIndex++; // tr index counter
			  // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
			  if (
				trIndex > maxRows * pageNum ||
				trIndex <= maxRows * pageNum - maxRows
			  ) {
				$(this).hide();
			  } else {
				$(this).show();
			  } //else fade in
			}); // end of for each tr in table
		  }); // end of on click pagination list
		  limitPagging();
		})
		.val(5)
		.change();
	
	  // end of on select change
	
	  // END OF PAGINATION
	}
	
	function limitPagging(){
		// alert($('.pagination li').length)
	
		if($('.pagination li').length > 7 ){
				if( $('.pagination li.active').attr('data-page') <= 3 ){
				$('.pagination li:gt(5)').hide();
				$('.pagination li:lt(5)').show();
				$('.pagination [data-page="next"]').show();
			}if ($('.pagination li.active').attr('data-page') > 3){
				$('.pagination li:gt(0)').hide();
				$('.pagination [data-page="next"]').show();
				for( let i = ( parseInt($('.pagination li.active').attr('data-page'))  -2 )  ; i <= ( parseInt($('.pagination li.active').attr('data-page'))  + 2 ) ; i++ ){
					$('.pagination [data-page="'+i+'"]').show();
	
				}
	
			}
		}
	}
	
	$(function() {
	  // Just to append id number for each row
	  $('table tr:eq(0)').prepend('<th> ID </th>');
	
	  var id = 0;
	
	  $('table tr:gt(0)').each(function() {
		id++;
		$(this).prepend('<td>' + id + '</td>');
	  });
	});
		</script>