<!--begin::Container-->
<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
	<!--begin::Post-->
	<div class="content flex-row-fluid" id="kt_content">
		<!--begin::Card-->
		<div class="card">
			<!--begin::Card header-->
			<div class="card-header border-0 pt-6">
				<!--begin::Card title-->
				<div class="card-title w-100 d-flex justify-content-between">
					<div>
						<h2>Data Peserta Webinar</h2>
					</div>
					<div class="dropdown">
						<button class="btn btn-primary text-light dropdown-toggle" type="button" id="dropdownMenuButton1"
							data-bs-toggle="dropdown" aria-expanded="false">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16">
								<path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0z"/>
							</svg>
							Export To Excel
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
							<li>	
							<button type="button" class="btn btn-danger mb-2 mx-2 p-2 btn-sm text-red" style="width: 150px;" data-bs-toggle="modal"
								data-bs-target="#kt_modal_report_aset" data-backdrop="false">
								Per-Webinar
							</button></li>
							<li>
							<button type="button" class="btn btn-warning mb-2 mx-2 p-2 btn-sm" style="width: 150px;" data-bs-toggle="modal"
								data-bs-target="#kt_modal_report_bulan" data-backdrop="false">
								Bulan</a>
							</li>
							<!-- <li>
								<button type="button" class="btn btn-success mb-2 mx-2 p-2 btn-sm" style="width: 150px;" data-bs-toggle="modal"
								data-bs-target="#kt_modal_report_tahun" data-backdrop="false">Tahun
							</li> -->
						</ul>
						<!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
							<li><a class="dropdown-item" href="#">Per-Webinar</a></li>
							<li><a class="dropdown-item" href="#">Bulan</a></li>
							<li><a class="dropdown-item" href="#">Tahun</a></li>
						</ul> -->
					</div>
				</div>
			</div>
			<!--end::Card header-->
			<!--begin::Card body SHOW ISI TABLE NYA-->
			<div class="card-body table-responsive pt-0">
				<!-- ################################# -->
				<div class="modal fade" id="kt_modal_report_aset" tabindex="-1" aria-hidden="true">
					<!--begin::Modal dialog-->
					<div class="modal-dialog modal-dialog-centered mw-650px">
						<!--begin::Modal content-->
						<div class="modal-content">
							<!--begin::Modal header-->
							<div class="modal-header" id="kt_modal_add_kategori_header">
								<!--begin::Modal title-->
								<h2 class="fw-bolder">Unduh berdasarkan Webinar</h2>
								<!--end::Modal title-->
								<!--begin::Close-->
								<div class="btn btn-icon btn-sm btn-active-icon-primary"
									data-kt-users-modal-action="close" data-bs-dismiss="modal">
									<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
									<span class="svg-icon svg-icon-1">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none">
											<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
												transform="rotate(-45 6 17.3137)" fill="black" />
											<rect x="7.41422" y="6" width="16" height="2" rx="1"
												transform="rotate(45 7.41422 6)" fill="black" />
										</svg>
									</span>
									<!--end::Svg Icon-->
								</div>
								<!--end::Close-->
							</div>
							<!--end::Modal header-->
							<!--begin::Modal body-->
							<div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
								<!--begin::Form-->
								<form id="kt_modal_report_aset_form" class="form" method="POST" action="webinar/report_peserta_by_idWebinar.xlsx" enctype=multipart/form-data>
									<!--begin::Scroll-->
									<div>
										<!--begin::Input group-->
										<div class="fv-row mb-7">
											<!--begin::Label-->
											<label class="required fw-bold fs-6 mb-2">Download berdasarkan webinar</label>
											<!--end::Label-->
											<!--begin::Input-->
											<select name="idwebinar" id="" class="form-select mb-3 mb-lg-0">
												<option value="">pilih</option>
												{% for y in data %}
												<option value="{{y._id}}">{{y.judul}}</option>
												{% endfor %}
											</select>
											<!-- <input type="date" name="judul"
											class="form-control mb-3 mb-lg-0"/> -->
											<!--end::Input-->
										</div>										
									</div>
									<!--end::Scroll-->
									<!--begin::Actions-->
									<div class="text-center pt-15">
										<!-- <button type="button" class="btn btn-danger me-3" data-bs-dismiss="modal">Batal</button> -->
										<button type="submit" class="btn btn-danger" id="p_bt_submit" value="upload">
											<span class="indicator-label">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
												<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
												<path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
											</svg>	
												Download
											</span>
										</button>
									</div>
									<!--end::Actions-->
								</form>
								<!--end::Form-->
							</div>
							<!--end::Modal body-->
						</div>
						<!--end::Modal content-->
					</div>
					<!--end::Modal dialog-->
				</div>
				<!-- ################################# -->
				<div class="modal fade" id="kt_modal_report_bulan" tabindex="-1" aria-hidden="true">
					<!--begin::Modal dialog-->
					<div class="modal-dialog modal-dialog-centered mw-650px">
						<!--begin::Modal content-->
						<div class="modal-content">
							<!--begin::Modal header-->
							<div class="modal-header" id="kt_modal_add_kategori_header">
								<!--begin::Modal title-->
								<h2 class="fw-bolder">Unduh berdasarkan bulan</h2>
								<!--end::Modal title-->
								<!--begin::Close-->
								<div class="btn btn-icon btn-sm btn-active-icon-primary"
									data-kt-users-modal-action="close" data-bs-dismiss="modal">
									<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
									<span class="svg-icon svg-icon-1">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none">
											<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
												transform="rotate(-45 6 17.3137)" fill="black" />
											<rect x="7.41422" y="6" width="16" height="2" rx="1"
												transform="rotate(45 7.41422 6)" fill="black" />
										</svg>
									</span>
									<!--end::Svg Icon-->
								</div>
								<!--end::Close-->
							</div>
							<!--end::Modal header-->
							<!--begin::Modal body-->
							<div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
								<!--begin::Form-->
								<form id="kt_modal_report_bulan_form" class="form" method="POST" action="aset/report/report_riwayat_aset_perbulan.xlsx" enctype=multipart/form-data>
									<!--begin::Scroll-->
									<div>
										<!--begin::Input group-->
										<!-- <div class="fv-row mb-7"> -->
											<!--begin::Label-->
											<!-- <label class="required fw-bold fs-6 mb-2">Nama</label> -->
											<!--end::Label-->
											<!--begin::Input-->
											<div class="fv-row mb-7">
												<label class="required fw-bold fs-6 mb-2">Silahkan Pilih Bulan : </label>
												<select name="month" class="form-select form-select-sm" id="" placeholder="bulan">
													<option value="1">Januari</option>
													<option value="2">Februari</option>
													<option value="3">Maret</option>
													<option value="4">April</option>
													<option value="5">Mei</option>
													<option value="6">Juni</option>
													<option value="7">Juli</option>
													<option value="8">Agustus</option>
													<option value="9">September</option>
													<option value="10">Oktober</option>
													<option value="11">November</option>
													<option value="12">Desember</option>
												</select>
											</div>
											<!--end::Input-->
										<!-- </div>	-->
									</div>
									<!--end::Scroll-->
									<!--begin::Actions-->
									<div class="text-center pt-15">
										<!-- <button type="button" class="btn btn-danger me-3" data-bs-dismiss="modal">Batal</button> -->
										<button type="submit" class="btn btn-danger" id="p_bt_submit" value="upload">
											<span class="indicator-label">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
													<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
													<path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
												</svg>	
												Download
											</span>
										</button>
									</div>
									<!--end::Actions-->
								</form>
								<!--end::Form-->
							</div>
							<!--end::Modal body-->
						</div>
						<!--end::Modal content-->
					</div>
					<!--end::Modal dialog-->
				</div>
				<!-- ########################### -->
				<!-- ################################# -->
				<div class="modal fade" id="kt_modal_report_tahun" tabindex="-1" aria-hidden="true">
					<!--begin::Modal dialog-->
					<div class="modal-dialog modal-dialog-centered mw-650px">
						<!--begin::Modal content-->
						<div class="modal-content">
							<!--begin::Modal header-->
							<div class="modal-header" id="kt_modal_add_kategori_header">
								<!--begin::Modal title-->
								<h2 class="fw-bolder">Unduh berdasarkan tahun</h2>
								<!--end::Modal title-->
								<!--begin::Close-->
								<div class="btn btn-icon btn-sm btn-active-icon-primary"
									data-kt-users-modal-action="close" data-bs-dismiss="modal">
									<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
									<span class="svg-icon svg-icon-1">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none">
											<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
												transform="rotate(-45 6 17.3137)" fill="black" />
											<rect x="7.41422" y="6" width="16" height="2" rx="1"
												transform="rotate(45 7.41422 6)" fill="black" />
										</svg>
									</span>
									<!--end::Svg Icon-->
								</div>
								<!--end::Close-->
							</div>
							<!--end::Modal header-->
							<!--begin::Modal body-->
							<div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
								<!--begin::Form-->
								<form id="kt_modal_report_tahun_form" class="form" method="POST" action="aset/report/report_riwayat_aset_pertahun.xlsx" enctype=multipart/form-data>
									<!--begin::Scroll-->
									<div>
										<!--begin::Input group-->
										<!-- <div class="fv-row mb-7"> -->
											<!--begin::Label-->
											<!-- <label class="required fw-bold fs-6 mb-2">Nama</label> -->
											<!--end::Label-->
											<!--begin::Input-->
											<div class="fv-row mb-7">
												<!--begin::Label-->
												<label class="fw-bold fs-6 mb-2 required">Silahkan inputkan Tahun</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="number" name="year"
													class="form-control mb-3 mb-lg-0" placeholder="Contoh 2022"/>
												<!--end::Input-->
											</div>
											<!--end::Input-->
										<!-- </div>	-->
									</div>
									<!--end::Scroll-->
									<!--begin::Actions-->
									<div class="text-center pt-15">
										<!-- <button type="button" class="btn btn-danger me-3" data-bs-dismiss="modal">Batal</button> -->
										<button type="submit" class="btn btn-danger" id="p_bt_submit" value="upload">
											<span class="indicator-label">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
													<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
													<path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
												</svg>	
												Download
											</span>
										</button>
									</div>
									<!--end::Actions-->
								</form>
								<!--end::Form-->
							</div>
							<!--end::Modal body-->
						</div>
						<!--end::Modal content-->
					</div>
					<!--end::Modal dialog-->
				</div>
				<!-- ########################### -->
				<!--end::Table-->
				<table class="table">
					<thead>
						<tr>
							<th>Webinar</th>
							<th>Peserta</th>
							<th>Tanggal</th>
							<th>Aksi</th>
						</tr>
					</thead>
					<tbody>
						{% for item in data %}
						<tr>
							<td>{{item.judul}}</td>
							<td>{{item.total}}</td>
							<td>{{item.tanggal}}</td>
							<td>
								<button class="btn btn-secondary btn-sm" data-bs-toggle="modal"
									data-bs-target="#myModal{{item._id}}">Detail</button>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% for item in data %}
				<div class="modal" id="myModal{{item._id}}">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">

							<!-- Modal Header -->
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Data Peserta</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>

							<!-- Modal body -->
							<div class="modal-body">
								<table class="table table-striped" id="tablePeserta">
									<thead>
										<tr>
											<th>Nama</th>
											<th>Usia</th>
											<th>No.Hp / Whatsapp</th>
											<th>Email</th>
											<th>Kota</th>
										</tr>
									</thead>
									<tbody>
										{% for peserta in item.peserta %}
										<tr>
											<td>{{peserta.nama}}</td>
											<td>{{peserta.usia}}</td>
											<td>{{peserta.whatsapp}}</td>
											<td>{{peserta.email}}</td>
											<td>{{peserta.kota}}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>

							<!-- Modal footer -->
							<div class="modal-footer">
								<button type="button" class="btn btn-danger"
									data-bs-dismiss="modal">Close</button>
							</div>

						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<!--end::Card body-->
		</div>
		<!--end::Card-->
	</div>
	<!--end::Post-->
</div>
<!--end::Container-->
<!--begin::Javascript-->
<!--begin::Global Javascript Bundle(used by all pages)-->
<script src="assets/plugins/global/plugins.bundle.js"></script>

<!-- <script src="assets/js/scripts.bundle.js"></script> -->
<!--end::Global Javascript Bundle-->
<!--end::Javascript-->