<!--begin::Container-->
<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
	<!--begin::Post-->
	<div class="content flex-row-fluid" id="kt_content">
		<!--begin::Card-->

		{% if error %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>Kesalahan!</strong> {{error}}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		{% endif %}
		<div class="card">
			<!--begin::Card header-->
			<div class="card-header border-0 pt-6">
				<!--begin::Card title-->
				<div class="card-title">
					<div><h2>Data Webinar</h2></div>&nbsp;&nbsp;
				</div>
				<!--begin::Card title-->
				<!--begin::Card toolbar-->
				<div class="card-toolbar">
					<!--begin::Toolbar-->
					<div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
						<!--begin::Filter-->
						<!--begin::Menu 1-->
						<div class="menu menu-sub menu-sub-dropdown w-300px w-md-325px" data-kt-menu="true">
							<!--begin::Header-->
							<div class="px-7 py-5">
								<div class="fs-5 text-dark fw-bolder">Filter Options</div>
							</div>
							<!--end::Header-->
							<!--begin::Separator-->
							<div class="separator border-gray-200"></div>
							<!--end::Separator-->
							<!--begin::Content-->
							<div class="px-7 py-5" data-kt-user-table-filter="form">
								<!--begin::Input group-->
								<div class="mb-10">
									<label class="form-label fs-6 fw-bold">Role:</label>
									<select class="form-select form-select-solid fw-bolder" data-kt-select2="true"
										data-placeholder="Select option" data-allow-clear="true"
										data-kt-user-table-filter="role" data-hide-search="true">
										<option></option>
										<option value="Administrator">Yolanda</option>
										<option value="Analyst">Analyst</option>
										<option value="Developer">Developer</option>
										<option value="Support">Support</option>
										<option value="Trial">Trial</option>
									</select>
								</div>
								<!--end::Input group-->
								<!--begin::Input group-->
								<div class="mb-10">
									<label class="form-label fs-6 fw-bold">Two Step Verification:</label>
									<select class="form-select form-select-solid fw-bolder" data-kt-select2="true"
										data-placeholder="Select option" data-allow-clear="true"
										data-kt-user-table-filter="two-step" data-hide-search="true">
										<option></option>
										<option value="Enabled">Enabled</option>
									</select>
								</div>
								<!--end::Input group-->
								<!--begin::Actions-->
								<div class="d-flex justify-content-end">
									<button type="reset"
										class="btn btn-light btn-active-light-primary fw-bold me-2 px-6"
										data-kt-menu-dismiss="true" data-kt-user-table-filter="reset">Reset</button>
									<button type="submit" class="btn btn-primary fw-bold px-6"
										data-kt-menu-dismiss="true" data-kt-user-table-filter="filter">Apply</button>
								</div>
								<!--end::Actions-->
							</div>
							<!--end::Content-->
						</div>
						<!--end::Menu 1-->
						<button type="button" class="btn btn-dark" data-bs-toggle="modal"
							data-bs-target="#kt_modal_add_user" data-backdrop="false">
							Tambah Webinar</button>
						<!--end::Add user-->
					</div>
					<!--end::Toolbar-->
					<!--begin::Group actions-->
					<div class="d-flex justify-content-end align-items-center d-none"
						data-kt-user-table-toolbar="selected">
						<div class="fw-bolder me-5">
							<span class="me-2" data-kt-user-table-select="selected_count"></span>Selected</div>
						<button type="button" class="btn btn-danger" data-kt-user-table-select="delete_selected">Delete
							Selected</button>
					</div>
					<!--end::Group actions-->

					<!--begin::Modal - Adjust Balance-->
					<div class="modal fade" id="kt_modal_export_users" tabindex="-1" aria-hidden="true">
						<!--begin::Modal dialog-->
						<div class="modal-dialog modal-dialog-centered mw-650px">
							<!--begin::Modal content-->
							<div class="modal-content">
								<!--begin::Modal header-->
								<div class="modal-header">
									<!--begin::Modal title-->
									<h2 class="fw-bolder">Export Users</h2>
									<!--end::Modal title-->
									<!--begin::Close-->
									<div class="btn btn-icon btn-sm btn-active-icon-primary"
										data-kt-users-modal-action="close">
										<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
										<span class="svg-icon svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
													transform="rotate(-45 6 17.3137)" fill="black" />
												<rect x="7.41422" y="6" width="16" height="2" rx="1"
													transform="rotate(45 7.41422 6)" fill="black" />
											</svg>
										</span>
										<!--end::Svg Icon-->
									</div>
									<!--end::Close-->
								</div>
								<!--end::Modal header-->
								<!--begin::Modal body-->
								<div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
									<!--begin::Form-->
									<form id="kt_modal_export_users_form" class="form" action="#">
										<!--begin::Input group-->
										<div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="fs-6 fw-bold form-label mb-2">Select Roles:</label>
											<!--end::Label-->
											<!--begin::Input-->
											<select name="role" data-control="select2" data-placeholder="Select a role"
												data-hide-search="true" class="form-select form-select-solid fw-bolder">
												<option></option>
												<option value="Administrator">Administrator</option>
												<option value="Analyst">Analyst</option>
												<option value="Developer">Developer</option>
												<option value="Support">Support</option>
												<option value="Trial">Trial</option>
											</select>
											<!--end::Input-->
										</div>
										<!--end::Input group-->
										<!--begin::Input group-->
										<div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="required fs-6 fw-bold form-label mb-2">Select Export
												Format:</label>
											<!--end::Label-->
											<!--begin::Input-->
											<select name="format" data-control="select2"
												data-placeholder="Select a format" data-hide-search="true"
												class="form-select form-select-solid fw-bolder">
												<option></option>
												<option value="excel">Excel</option>
												<option value="pdf">PDF</option>
												<option value="cvs">CVS</option>
												<option value="zip">ZIP</option>
											</select>
											<!--end::Input-->
										</div>
										<!--end::Input group-->
										<!--begin::Actions-->
										<div class="text-center">
											<button type="reset" class="btn btn-light me-3"
												data-kt-users-modal-action="cancel">Batal</button>
											<button type="submit" class="btn btn-primary"
												data-kt-users-modal-action="submit">
												<span class="indicator-label">Simpan</span>
											</button>
										</div>
										<!--end::Actions-->
									</form>
									<!--end::Form-->
								</div>
								<!--end::Modal body-->
							</div>
							<!--end::Modal content-->
						</div>
						<!--end::Modal dialog-->
					</div>
					<!--end::Modal - New Card-->
					<!--begin::Modal - Add -->
					<div class="modal fade" id="kt_modal_add_user" tabindex="-1" aria-hidden="true">
						<!--begin::Modal dialog-->
						<div class="modal-dialog modal-dialog-centered mw-650px">
							<!--begin::Modal content-->
							<div class="modal-content">
								<!--begin::Modal header-->
								<div class="modal-header" id="kt_modal_add_user_header">
									<!--begin::Modal title-->
									<h2 class="fw-bolder">Tambah Webinar</h2>
									<!--end::Modal title-->
									<!--begin::Close-->
									<div class="btn btn-icon btn-sm btn-active-icon-primary"
										data-kt-users-modal-action="close" data-bs-dismiss="modal">
										<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
										<span class="svg-icon svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
													transform="rotate(-45 6 17.3137)" fill="black" />
												<rect x="7.41422" y="6" width="16" height="2" rx="1"
													transform="rotate(45 7.41422 6)" fill="black" />
											</svg>
										</span>
										<!--end::Svg Icon-->
									</div>
									<!--end::Close-->
								</div>
								<!--end::Modal header-->
								<!--begin::Modal body-->
								<div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
									<!--begin::Form-->
									<form id="kt_modal_add_user_form" class="form" method="post" action="webinar" enctype="multipart/form-data">
										<!--begin::Scroll-->
										<div >
											<!--begin::Input group-->
											<div class="fv-row mb-7">
												<!--begin::Label-->
												<label class="required fw-bold fs-6 mb-2">Gambar</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input class="form-control" type="file" name="gambar" id="formFile" required>
												<p><small>NB: File harus berformat .png, .svg, .jpg, .jpeg</small></p>
												<!--end::Input-->
											</div>
											<!--begin::Input group-->
											<div class="fv-row mb-7">
												<!--begin::Label-->
												<label class="required fw-bold fs-6 mb-2">Judul</label>
												<!--end::Label-->
												<!--begin::Input-->
												<textarea type="text" name="judul"
													class="form-control form-control-solid mb-3 mb-lg-0" id="judul" required></textarea>
												<!--end::Input-->
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
											<div class="fv-row mb-7">
												<!--begin::Label-->
												<label class="required fw-bold fs-6 mb-2">Deskripsi</label>
												<!--end::Label-->
												<!--begin::Input-->
												<textarea type="text" name="description"
													class="form-control form-control-solid mb-3 mb-lg-0" id="description" required></textarea>
												<!--end::Input-->
											</div>
											<div class="fv-row mb-7">
												<!--begin::Label-->
												<label class="required fw-bold fs-6 mb-2">TANGGAL</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="date" name="tanggal"
													class="form-control form-control-solid mb-3 mb-lg-0" id="tanggal" required/>
												<!--end::Input-->
											</div>
											<div class="fv-row mb-7">
												<!--begin::Label-->
												<label class="required fw-bold fs-6 mb-2">JAM</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="time" name="jam"
													class="form-control form-control-solid mb-3 mb-lg-0" id="jam" required/>
												<!--end::Input-->
											</div>
											<div class="fv-row mb-7">
												<!--begin::Label-->
												<label class="required fw-bold fs-6 mb-2">URL WEBINAR</label>
												<!--end::Label-->
												<!--begin::Input-->
												<textarea type="text" name="urlWebinar"
													class="form-control form-control-solid mb-3 mb-lg-0" id="urlWebinar" required></textarea>
												<!--end::Input-->
											</div>
											<div class="fv-row mb-7">
												<!--begin::Label-->
												<label class="required fw-bold fs-6 mb-2">URL GRUB WEBINAR</label>
												<!--end::Label-->
												<!--begin::Input-->
												<textarea type="text" name="urlYoutube"
													class="form-control form-control-solid mb-3 mb-lg-0" id="urlYoutube" required></textarea>
												<!--end::Input-->
											</div>
											<!--end::Input group-->
										</div>
										<!--end::Scroll-->
										<!--begin::Actions-->
										<div class="text-center pt-15">
											<button type="button" class="btn btn-light me-3" data-bs-dismiss="modal">Batal</button>
											<button type="submit" class="btn btn-primary" id="p_bt_submit" value="submit">
												<span class="indicator-label">Simpan</span>
											</button>
										</div>
										<!--end::Actions-->
									</form>
									<!--end::Form-->
								</div>
								<!--end::Modal body-->
							</div>
							<!--end::Modal content-->
						</div>
						<!--end::Modal dialog-->
					</div>
				</div>
				<!--end::Card toolbar-->
			</div>
			<!--end::Card header-->
			<!--begin::Card body SHOW ISI TABLE NYA-->
			<div class="card-body table-responsive pt-0">
				<!--begin::Table-->
				<!-- <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_users"> -->
					<table class="table table-striped table-class" id= "table-id">
					<!--begin::Table head-->
					<thead>
						<!--begin::Table row-->
						<tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
							<th class="w-10px pe-2">
							</th>
							<th class="min-w-125px">Judul</th>
							<th class="min-w-125px">Deskripsi</th>
							<th class="min-w-125px">Tanggal</th>
							<th class="min-w-125px">Jam</th>
							<th class="min-w-125px">url Webinar</th>
							<th class="min-w-125px">url Grub Webinar</th>
							<th class="text-end min-w-100px">AKSI</th>
						</tr>
						<!--end::Table row-->
					</thead>
					<!--end::Table head-->
					<!--begin::Table body-->
					<tbody class="text-gray-600 fw-bold" id="kt_table_users_body">
						<!--begin::Table row-->
						{% for dataa in data %}
						<tr >
							<div class="modal fade" id="kt_modal_edit_user{{dataa._id}}" tabindex="-1" aria-hidden="true">
								<!--begin::Modal dialog-->
								<div class="modal-dialog modal-dialog-centered mw-650px">
									<!--begin::Modal content-->
									<div class="modal-content">
										<!--begin::Modal header-->
										<div class="modal-header" id="kt_modal_edit_user_header">
											<!--begin::Modal title-->
											<h2 class="fw-bolder">Edit Webinar</h2>
											<!--end::Modal title-->
											<!--begin::Close-->
											<div class="btn btn-icon btn-sm btn-active-icon-primary"
												data-kt-users-modal-action="close" data-bs-dismiss="modal">
												<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
												<span class="svg-icon svg-icon-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
														viewBox="0 0 24 24" fill="none">
														<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
															transform="rotate(-45 6 17.3137)" fill="black" />
														<rect x="7.41422" y="6" width="16" height="2" rx="1"
															transform="rotate(45 7.41422 6)" fill="black" />
													</svg>
												</span>
												<!--end::Svg Icon-->
											</div>
											<!--end::Close-->
										</div>
										<!--end::Modal header-->
										<!--begin::Modal body-->
										<div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
											<ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
												<li class="nav-item" role="presentation">
													<a class="nav-link active" id="ex1-tab-1" data-bs-toggle="tab" href="#edit-data{{dataa._id}}" role="tab" aria-controls="edit-data" aria-selected="true">Edit Data</a>
												</li>
												<li class="nav-item" role="presentation">
													<a class="nav-link" id="ex1-tab-2" data-bs-toggle="tab" href="#edit-gambar{{dataa._id}}" role="tab" aria-controls="edit-aset" aria-selected="false">Edit Gambar</a>
												</li>
											</ul>


											<div class="tab-content" id="ex1-content">
												<div class="tab-pane fade show active" id="edit-data{{dataa._id}}" role="tabpanel" aria-labelledby="ex1-tab-1">
													<!--begin::Form-->
													<form id="kt_modal_edit_user_form" class="form" method="post" action="webinarr">
														<!--begin::Scroll-->
														<div >		
															<!--begin::Input group-->
															<div class="fv-row mb-7">
																<!--begin::Label-->
																<label class="required fw-bold fs-6 mb-2">Judul</label>
																<!--end::Label-->
																<!--begin::Input-->
																<textarea type="text" value="{{dataa.judul}}"
																	class="form-control form-control-solid mb-3 mb-lg-0" required name="judul"></textarea>
																<!--end::Input-->
															</div>
															<!--end::Input group-->
															<!--begin::Input group-->
															<div class="fv-row mb-7">
																<!--begin::Label-->
																<label class="required fw-bold fs-6 mb-2">Deskripsi</label>
																<!--end::Label-->
																<!--begin::Input-->
																<textarea type="text" value="{{dataa.description}}"
																	class="form-control form-control-solid mb-3 mb-lg-0" required name="description"></textarea>
																<!--end::Input-->
															</div>
															<div class="fv-row mb-7">
																<!--begin::Label-->
																<label class="required fw-bold fs-6 mb-2">TANGGAL</label>
																<!--end::Label-->
																<!--begin::Input-->
																<input type="date" value="{{dataa.tanggal}}"
																	class="form-control form-control-solid mb-3 mb-lg-0" required name="tanggal"/>
																<!--end::Input-->
															</div>
															<div class="fv-row mb-7">
																<!--begin::Label-->
																<label class="required fw-bold fs-6 mb-2">JAM</label>
																<!--end::Label-->
																<!--begin::Input-->
																<input type="time" value="{{dataa.jam}}"
																	class="form-control form-control-solid mb-3 mb-lg-0" required name="jam"/>
																<!--end::Input-->
															</div>
															<div class="fv-row mb-7">
																<!--begin::Label-->
																<label class="required fw-bold fs-6 mb-2">WEBINAR</label>
																<!--end::Label-->
																<!--begin::Input-->
																<textarea type="text" value="{{dataa.urlWebinar}}"
																	class="form-control form-control-solid mb-3 mb-lg-0" required name="urlWebinar"></textarea>
																<!--end::Input-->
															</div>
															<div class="fv-row mb-7">
																<!--begin::Label-->
																<label class="required fw-bold fs-6 mb-2">GRUB WEBINAR</label>
																<!--end::Label-->
																<!--begin::Input-->
																<textarea type="text" value="{{dataa.urlYoutube}}"
																	class="form-control form-control-solid mb-3 mb-lg-0" required name="urlYoutube"></textarea>
																<!--end::Input-->
															</div>
															<input type="hidden" name="_id" value="{{dataa._id}}">
														</div>
														<!--end::Scroll-->
														<!--begin::Actions-->
														<div class="text-center pt-15">
															<button type="button" class="btn btn-light me-3" data-bs-dismiss="modal">Batal</button>
															<button type="submit" class="btn btn-primary" id="p_bt_submit" value="submit">
																<span class="indicator-label">Simpan</span>
															</button>
														</div>
														<!--end::Actions-->
													</form>
													<!--end::Form-->
												</div>
												<div class="tab-pane fade" id="edit-gambar{{dataa._id}}" role="tabpanel" aria-labelledby="ex1-tab-1">
													<!--begin::Form-->
													<div class="d-flex align-items-center flex-column">
														<img src="https://teknologikartu.com/web_api/web_webinar/webinar/get_gambar/{{dataa.image[0].filename}}" height="50%" width="50%" alt="">
														<!-- <img src="http://127.0.0.1:8000/web_api/web_webinar/webinar/get_gambar/{{dataa.image[0].filename}}" height="50%" width="50%" alt=""> -->
														<p class="mt-5">{{dataa.image[0].filename}}</p>
													</div>
													<form id="kt_modal_edit_user_form" class="form" method="post" action="webinarr/gambar" enctype="multipart/form-data">
														<!--begin::Scroll-->
														<div >		
															<!--begin::Input group-->
															<input type="hidden" name="_id" value="{{dataa._id}}">
															<div class="fv-row mb-7">
																<!--begin::Label-->
																<label class="required fw-bold fs-6 mb-2">Gambar</label>
																<!--end::Label-->
																<!--begin::Input-->
																<input type="file" name="gambar_edit" class="form-control">
																<p><small>NB: File harus berformat .png, .svg, .jpg, .jpeg</small></p>
																<!--end::Input-->
															</div>
														</div>
														<!--end::Scroll-->
														<!--begin::Actions-->
														<div class="text-center pt-15">
															<button type="button" class="btn btn-light me-3" data-bs-dismiss="modal">Batal</button>
															<button type="submit" class="btn btn-primary" id="p_bt_submit" value="submit">
																<span class="indicator-label">Simpan</span>
															</button>
														</div>
														<!--end::Actions-->
													</form>
													<!--end::Form-->
												</div>
											</div>
										</div>
										<!--end::Modal body-->
									</div>
									<!--end::Modal content-->
								</div>
								<!--end::Modal dialog-->
							</div>	
							<td>
								<!-- <div class="form-check form-check-sm form-check-custom form-check-solid">
									<input class="form-check-input" type="checkbox" value="1" />
								</div> -->
							</td>
							<td>{{dataa.judul}}</td>
							<td>{{dataa.description}}</td>
							<td>{{dataa.tanggal}}</td>
							<td>{{dataa.jam}}</td>
							<td>{{dataa.urlWebinar}}</td>
							<td>{{dataa.urlYoutube}}</td>
							<td class="text-end">
									<div class="btn btn-warning btn-active-light-primary btn-sm">
										<a data-bs-toggle="modal"
										data-bs-target="#kt_modal_edit_user{{dataa._id}}"
											class="menu-link px-6 text-black">Edit</a>
									</div>
									<div class="btn btn-danger btn-active-light-primary btn-sm">
										<a href="webinaroi/delete/{{dataa._id}}"
											class="menu-link px-3 text-black">Delete</a>
									</div>
								</div>
								<!--end::Menu-->
							</td>
							<!--end::Action=-->
						</tr>
						{% endfor %}
						<!--end::Table row-->						
					</tbody>
					<!--end::Table body-->
				</table>
				<!--end::Table-->
			</div>
			<!--end::Card body-->
		</div>
		<!--end::Card-->
	</div>
	<!--end::Post-->
</div>
<!--end::Container-->
<!--begin::Javascript-->
<!--begin::Global Javascript Bundle(used by all pages)-->
<script src="assets/plugins/global/plugins.bundle.js"></script>
<!-- <script src="assets/js/scripts.bundle.js"></script> -->
<!--end::Global Javascript Bundle-->
<!--end::Javascript-->
